* {
  font-family: monospace;
  scroll-behavior: smooth;
}

:root {
  --background_color: black;
  --text_color: white;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

a {
  color: var(--text_color);
}

.text {
  color: var(--text_color);
  margin: 0px;
}

.button {
  user-select: none;
  text-decoration: underline;
  cursor: pointer;
}

.language-button {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  background: transparent;
  color: var(--text_color);
  border: 0.1rem solid var(--text_color);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s;
}

.language-button[data-current="true"] {
  background: var(--text_color);
  color: var(--background_color);
}

.language-button:hover:not([data-current="true"]) {
  background: color-mix(in srgb, var(--text_color), transparent 85%);
}

@keyframes flashing {
  0% {
    background: var(--background_color);
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    background: var(--text_color);
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    background: var(--background_color);
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@media (max-width: 700px) {
  .cover-image {
    height: 90dvw !important;
  }
  .text.title {
    max-width: 90vw !important;
  }
  .progress-container {
    margin-top: 2rem !important;
  }
}
